@font-face {
    font-family: GothamProNarrow;
    src: url(../font/GothamProNarrowMedium.ttf);
}

body {
    margin: 0;
    padding: 0;
}

.disp-page-main-wrapper {
    font-family: GothamProNarrow;
}

.container-fluid {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
}

.disp-page_descr,
.disp-page_questions,
.disp-page_footer-links {
    padding: 10px 0;
}

.disp-page_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}

.disp-page_header__cont {
    position: relative;
}

.disp-page_header__cont--info {
    position: absolute;
    margin-top: 35px;
    margin-left: 10px;
}

.disp-page_header__title--text {
    font-size: 65px;
    color: #000000;
    font-weight: 500;
}

.disp-page_header__cont--logo-image {
    max-width: 300px;
}

.disp-page_header__cont--info-phone,
.disp-page_header__cont--info-email {
    margin: 5px 0;
}

.disp-page_header__cont--info-phone-link {
    font-size: 28px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.disp-page_header__cont--info-phone-link:hover, 
.disp-page_header__cont--info-phone-link:active {
    text-decoration: underline
}

.disp-page_header__cont--info-email-link {
    font-size: 26px;
    letter-spacing: 2px;
    color: #0058b5;
    font-weight: 500;
    text-decoration: none;
}

.disp-page_header__cont--info-email-link:hover,
.disp-page_header__cont--info-email-link:active {
    text-decoration: underline;
}

.disp-page_banner {
    background-image: url(..//images/banner_bg__main.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.disp-page_banner__text {
    padding: 25px 50px;
    max-width: 570px;

    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 500;
    z-index: 10;
}

.upper-text-wrap {
    text-transform: uppercase;
}

.bold-text-wrap {
    font-weight: bold;
}

.red-bg-text {
    position: relative;
    z-index: 10;
}

.red-bg-text::before {
    content: '';
    position: absolute;
    background-image: url(..//images/red_banner_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 530px;
    height: 63px;
    top: 27px;
    left: -13px;
    z-index: -1;
}

.white-bg-text {
    position: relative;
    z-index: 10;
    color: #EE3727;
}

.white-bg-text::before {
    content: '';
    position: absolute;
    background-image: url(..//images/white_banner_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 530px;
    height: 63px;
    top: -1px;
    left: -199px;
    z-index: -1; 
}

.disp-page_descr__title--text {
    font-size: 40px;
    color: #0058b5;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}

.disp-page_descr__items,
.disp-page_footer-links__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.disp-page_descr__item,
.disp-page_footer-links__item {
    width: 33%;
    flex: 0 0 33%;
}

.disp-page_descr__item:nth-child(1),
.disp-page_descr__item:nth-child(2),
.disp-page_footer-links__item:nth-child(1),
.disp-page_footer-links__item:nth-child(2) {
    border-right: 2px solid #98A9A8;
}

.disp-page_descr__item-cont {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.disp-page_descr__item--text {
    text-align: center;
}

.disp-page_descr__item--text p {
    font-size: 18px;
}

.disp-page_descr__item--image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    height: 140px;
}

.disp-page_descr__item--image img {
    max-width: 130px;
}

.disp-page_questions__title--text {
    font-size: 40px;
    color: #ed5b2a;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}

.disp-page_questions__items {
    background-color: #ECF0F0;
    padding: 25px 45px;
}

.disp-page_questions__list {
    list-style: none;
    padding: 0;
}

.disp-page_questions__list--item {
    padding-left: 50px;
    position: relative;
    margin-bottom: 25px;
    font-size: 18px;
}

.disp-page_questions__list--item::before {
    content: '';
    position: absolute;
    background-image: url(../images/angle_mark.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    left: 0;
    top: 0;
}

.disp-page_footer-links__item-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.disp-page_footer-links__item--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.disp-page_footer-links__item--icon-img {
    max-width: 50px;
}

.disp-page_footer-links__item--link-text {
    color: #1a1a1a;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    margin: 0;
}

a.disp-page_footer-links__item--link-text:hover,
a.disp-page_footer-links__item--link-text:active {
    text-decoration: underline;
} 

@media screen and (max-width: 1200px) {
    .disp-page_banner {
        background-image: none;
        background-color: #4FC2D1;
    }

    .disp-page_header__cont--info {
        position: relative;
        margin-top: 15px;
    }
}

@media screen and (max-width: 991px) {
    .red-bg-text::before,
    .white-bg-text::before {
        display: none;
    }

    .white-bg-text {
        color: #fff;
    }

    .disp-page_banner__text {
        max-width: 100%;
    }

    .disp-page_header__title--text {
        font-size: 45px;
        margin: 15px 0 5px;
    }

    .disp-page_header__cont {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .disp-page_header__cont--logo-image {
        max-width: 200px;
    }

    .disp-page_header {
        flex-direction: column-reverse;
    }

    .disp-page_header__cont--info-phone-link,
    .disp-page_header__cont--info-email-link {
        font-size: 20px;
    }

    .disp-page_header__cont--info {
        margin-top: 0;
        margin-left: 35px;
    }
}

@media screen and (max-width: 768px) {
    .disp-page_header__title--text {
        font-size: 35px;
    }

    .disp-page_banner__text {
        font-size: 18px;
        line-height: 28px;
    }

    .disp-page_descr__title--text,
    .disp-page_questions__title--text {
        font-size: 30px;
    }

    .disp-page_descr__items, .disp-page_footer-links__items {
        flex-wrap: wrap;
    }
    .disp-page_descr__item, .disp-page_footer-links__item {
        width: 49%;
        flex: 0 0 49%;
        margin-bottom: 10px;
    }

    .disp-page_descr__item:nth-child(2),
    .disp-page_footer-links__item:nth-child(2) {
        border-right: none;
    }

    .disp-page_descr__item--image {
        height: 120px;
    }

    .disp-page_descr__item--image img {
        max-width: 100px;
    }

    .disp-page_descr__item--text p,
    .disp-page_questions__list--item {
        font-size: 16px;
    }

    .disp-page_footer-links__item--icon-img {
        max-width: 40px;
    }
}

@media screen and (max-width: 680px) {
    .disp-page_header__title--text {
        font-size: 30px;
    }

    .disp-page_banner__text {
        font-size: 16px;
        line-height: 26px;
        padding: 20px 30px;
    }

    .disp-page_questions__items {
        padding: 25px 25px;
    }

    .disp-page_descr__title--text, .disp-page_questions__title--text {
        font-size: 26px;
    }

    .disp-page_descr__item, .disp-page_footer-links__item {
        width: 100%;
        flex: 0 0 100%;
    }

    .disp-page_descr__item:nth-child(1),
    .disp-page_footer-links__item:nth-child(1) {
        border-right: none;
    }
}

@media screen and (max-width: 520px) {
    .disp-page_header__cont {
        flex-direction: column;
    }

    .disp-page_header__cont--info {
        margin-top: 10px;
        margin-left: 0;
        text-align: center;
    }

    .disp-page_banner__text {
        padding: 5px 20px;
    }

    .disp-page_descr__title--text, .disp-page_questions__title--text {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}




















.header_affixed {
    position: fixed;
    bottom: 200%;
    width: 100%;
    background-color: #fff;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
    z-index: 10;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,.25);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.25);
    -webkit-transition: opacity .3s,-webkit-transform .3s;
    transition: opacity .3s,-webkit-transform .3s;
    -o-transition: transform .3s,opacity .3s;
    transition: transform .3s,opacity .3s;
    transition: transform .3s,opacity .3s,-webkit-transform .3s
}

.header_affixed_off {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    bottom: auto
}

.header__container {
    background-color: transparent;
    -webkit-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
    z-index: 14
}

.header__wrapper {
    position: relative;
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 17px;
    line-height: 1.17647;
    font-weight: 600
}

@media screen and (max-width: 991px) {
    .header__wrapper {
        font-size:15px
    }
}

.header__wrapper_affixed {
    padding-top: 25px;
    padding-bottom: 25px
}

@media screen and (max-width: 1279px) {
    .header__wrapper {
        padding-top:20px;
        padding-bottom: 20px
    }
}

.header__logo {
    display: block;
    width: 163px
}

.header__logo-img {
    max-width: 100%;
    vertical-align: top
}

.header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.header__nav-item {
    color: #4d4e5c;
    text-decoration: none;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

.header__nav-item:not(:first-child) {
    margin-left: 40px
}

@media screen and (max-width: 1279px) {
    .header__nav-item:not(:first-child) {
        margin-left:15px
    }
}

@media screen and (max-width: 991px) {
    .header__nav-item:not(:first-child) {
        margin-left:20px
    }
}

.header__nav-item:first-child {
    margin-left: 50px
}

@media screen and (max-width: 1279px) {
    .header__nav-item:first-child {
        margin-left:25px
    }
}

@media screen and (max-width: 991px) {
    .header__nav-item:first-child {
        margin-left:15px
    }
}

.header__nav-item:hover {
    opacity: .75
}

.header__contacts {
    margin-left: auto
}

.header__contacts,.header__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.header__socials {
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 10px
}

@media screen and (max-width: 1279px) {
    .header__socials {
        margin-right:5px
    }
}

.header__socials-icon {
    width: 28px;
    fill: #51a821;
    -webkit-transition: fill .3s;
    -o-transition: fill .3s;
    transition: fill .3s
}

.header__socials:hover .header__socials-icon {
    fill: #4599d8
}

.header__socials-subtitle {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 9px;
    line-height: 1;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s
}

.header__socials:hover .header__socials-subtitle {
    opacity: 1;
    color: #4599d8
}

.header__number {
    -ms-flex-item-align: center;
    align-self: center;
    text-decoration: none;
    color: inherit;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s
}

@media screen and (max-width: 991px) {
    .header__number {
        display:none
    }
}

.header__number:hover {
    color: #4599d8
}

.header__button {
    margin-left: 30px
}

@media screen and (max-width: 1279px) {
    .header__button {
        margin-left:15px
    }
}

@media screen and (max-width: 991px) {
    .header__button {
        margin-left:0
    }
}

.header__button_white {
    background-color: #fff
}

.header__burger-menu {
    display: none
}

@media screen and (max-width: 767px) {
    .header__burger-menu_shown {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer
    }
}

.header__burger-close {
    display: none
}

.header__burger-close_shown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer
}

@media screen and (max-width: 767px) {
    .header__menu-icon {
        width:24px;
        fill: #4d4e5c;
        fill-opacity: .5
    }
}

.header__mobile-menu {
    position: fixed;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    width: 100%;
    height: 100vh;
    margin-top: 40px;
    margin-left: -20px;
    padding: 0 20px 100px;
    background-color: #fff;
    font-size: 28px;
    line-height: 1.07143;
    z-index: 10
}

.header__mobile-menu_blue-bg {
    background-color: #f0f7fc
}

.header__mobile-menu_shown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.header__mobile-nav {
    margin-top: 100px;
    list-style: none;
    font-size: 28px;
    line-height: 1.07143;
    font-weight: 400
}

@media screen and (max-width: 575px) {
    .header__mobile-nav {
        margin-top:80px
    }
}

@media screen and (max-width: 419px) {
    .header__mobile-nav {
        margin-top:60px
    }
}

.header__mobile-nav-item:not(:first-child) {
    margin-top: 20px
}

.header__mobile-nav-link {
    text-decoration: none;
    color: #4599d8
}

.header__mobile-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 33.33333%;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.header__mobile-whatsapp-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    padding: .2em 1.18em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid #51a821;
    border-radius: 3px;
    text-decoration: none;
    -webkit-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s
}

.header__mobile-whatsapp-link:hover {
    background-color: #51a821
}

.header__mobile-whatsapp-icon {
    width: 28px;
    fill: #51a821;
    -webkit-transition: fill .3s;
    -o-transition: fill .3s;
    transition: fill .3s
}

.header__mobile-whatsapp-link:hover .header__mobile-whatsapp-icon {
    fill: #fff
}

.header__mobile-whatsapp-subtitle {
    color: #51a821;
    font-size: 17px;
    line-height: 1.17647;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s
}

.header__mobile-whatsapp-link:hover .header__mobile-whatsapp-subtitle {
    color: #fff
}

.header__mobile-number {
    font-size: 17px;
    line-height: 1.17647
}

.header__mobile-button {
    margin-top: 10px
}

.heading {
    font-size: 58px;
    line-height: 1.03448;
    font-weight: 300;
    letter-spacing: -1px
}

@media screen and (max-width: 991px) {
    .heading {
        font-size:48px;
        line-height: 1.14583
    }
}

@media screen and (max-width: 575px) {
    .heading {
        font-size:40px;
        line-height: 1.25
    }
}



